<ion-tabs>
  <ion-tab-bar slot="bottom" color="danger">
     
      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tienda">
        <ion-icon name="pricetags-outline"></ion-icon>
        <ion-label>Tienda</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="llamada">
        <ion-icon name="call-outline" class="custom-tab"></ion-icon>
       
      </ion-tab-button>

      <ion-tab-button tab="carrito">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrito</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contactos">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>Contactos</ion-label>
      </ion-tab-button>
   
    </ion-tab-bar>
    
   <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="rojo" (click)="gotoLlamada()" >
        <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
   </ion-fab>

</ion-tabs>