/*#tab-button-llamada {
    overflow: visible !important;

    ion-icon {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
        background: #ff313f;
        padding: 16px !important;
        border-radius: 50% !important;
        width: 35px !important;
        height: 35px !important;
        //margin-top: -65px !important;
        box-shadow: 0 0 0 11px white;
    }
}*/

ion-tab-bar  {
    border: 0px;
  
    
}


