/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




/*input.searchbar-input.sc-ion-searchbar-md {
    border-radius: 50px !important;
    font-weight: 300;
    font-size: 0.9rem !important;
    color: #fff !important;
}*/

.poster{
    width: 380px !important;
    height: 180px !important;
}


.searchbar-sin-icono{
    // ion-searchbar{
         ion-icon.searchbar-search-icon.sc-ion-searchbar-md.md.hydrated{
             display:none;
         }
         input.searchbar-input.sc-ion-searchbar-md {
            padding-left: 9px !important;
            padding-top: 9px;
        }

        .searchbar-input-container.sc-ion-searchbar-md {
            --background: var(--ion-background-color, #fff);
            --box-shadow: rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
         

     //}
 }

 .searchbar-sin-icono{
    // ion-searchbar{
         ion-icon.searchbar-search-icon.sc-ion-searchbar-ios.ios.hydrated{
             display:none;
         }
     //}
 }


 
#slidesstatic{
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        .swiper-pagination-bullet{
            border:1px solid #9B9B9B ;
        }
        .swiper-pagination-bullet-active  {
        background:white;
        border:0px;
        }
    }
}


